body {
  overflow-x: hidden;
}
.score-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.bg-light-yellow {
  background-color: #0a0a0a7a;
  color: #fff;
}

.overlay {
  position: absolute;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #0a0a0a00;
}

.score-inner {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.icons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.icons img {
  width: 10rem;
}

.buttons.action-btn {
  display: flex;
  flex-direction: row;
  gap: 10rem;
}

.buttons.action-btn button {
  background-color: yellow;
  outline: none;
  padding: 1rem 3rem;
  border-radius: 3rem;
  border: 0;
  font-size: 1.5rem;
}

.remarks {
  font-size: 3rem;
  color: yellow;
}

#score {
  font-size: 10rem;
}

.video-container {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

#results-firworks {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: absolute;
}

.remarks-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 30rem;
  background-color: rgba(211, 211, 211, 0.534);
  position: fixed;
  left: 0;
  top: 0;
}

#remarks {
  color: #fff;
  font-size: 1.5rem;
  padding: 3rem;
}
